@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using CIPlatform.Models
@model AdminModel

<span class="fs-2 border-bottom border-dark border-2 pb-2 ">Theme</span>
<hr style="margin-top: 6px;">


<div style="margin-bottom: 70px;">
    <span class="float-end">
        <button type="button" class="btn btn-outline-warning rounded-pill w-100" data-bs-toggle="modal"
                data-bs-target="#AddTheme">
            <i class="bi bi-plus"></i>
            <span class="text-wrap">Add</span>
        </button>
    </span>
</div>

<div class="modal fade" id="AddTheme" tabindex="-1" aria-labelledby="AddThemeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Theme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col-12 mt-3">
                            <label for="">Title</label>
                            <input type="text" name="" class="form-control"
                                   placeholder="Enter Theme Title" id="">
                        </div>

                        <div class="col-12 mt-3">
                            <label>Status</label>
                            <div class="dropdown">
                                <button class="form-control text-start" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Status <i class="bi bi-chevron-down float-end"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                    <li><a class="dropdown-item" href="#">InActive</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary rounded-pill"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-outline-warning rounded-pill">Submit</button>
            </div>
        </div>
    </div>
</div>

<table id="datatable" class="table table-borderless">
    <thead class="table-light text-primary">
        <tr>
            <th>ID</th>
            <th>Theme</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Environmental</td>
            <td class="text-success fw-bold">Active</td>
            <td><i class="bi bi-pencil-square text-secondary"></i></td>
            <td><i class="bi bi-trash text-danger"></i></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Children</td>
            <td class="text-success fw-bold">Active</td>
            <td><i class="bi bi-pencil-square text-secondary"></i></td>
            <td><i class="bi bi-trash text-danger"></i></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Nutrition</td>
            <td class="text-success fw-bold">Active</td>
            <td><i class="bi bi-pencil-square text-secondary"></i></td>
            <td><i class="bi bi-trash text-danger"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Animals</td>
            <td class="text-success fw-bold">Active</td>
            <td><i class="bi bi-pencil-square text-secondary"></i></td>
            <td><i class="bi bi-trash text-danger"></i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Health</td>
            <td class="text-success fw-bold">Active</td>
            <td><i class="bi bi-pencil-square text-secondary"></i></td>
            <td><i class="bi bi-trash text-danger"></i></td>
        </tr>
    </tbody>
</table>